<%- include('includes/head.ejs', {username: username, permisos: permisos,}) %>

<body class="has-background-link-light">
    <section class="section">
      <div class="container">
        <h1 class="title">Este es tu top de artistas</h1>
        <input class="input is-info mb-6" id="buscar" type="text" placeholder="Busca tus artistas"/>
        <input type="hidden" id="_csrf" name="_csrf" value="<%= csrfToken %>" >

<div id="respuestaAjax">

    <div id="notificacion">
        <% if (lista.length < 1) { %>
            <div class="notification is-info">
                <button class="delete"></button>
                No existe la artista
            </div>
        <% } %>
    </div>

        <div class="columns">
            

            
            <% let columns = 0; %>
            <% for (let artista of lista) { %>
                <% columns++ %>
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/uploads/<%= artista.imagen %>" alt="Imagen de <%= artista.nombre %>">
                        </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                <p class="title is-4"><%= artista.nombre %></p>
                                </div>
                            </div>
                        
                            <div class="content">
                                <%= artista.descripcion %>
                                <button class="button is-danger" onclick="eliminar(<%= artista.id %>)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% if (columns % 4 == 0) { %>
                    </div>
                    <div class="columns">
                <% } %>
            <% } %>

        </div>
</div>

    </section>
    <% if(ultimo_artista != '') { %>
        <div>
            El último artista fue <%= ultimo_artista %>.
        </div>
    <% } %>
    <script>
        const accion_asincrona = () => {
            console.log("Buscando...");
            const valor_busqueda = document.getElementById('buscar').value;
            console.log(valor_busqueda)
            //función que manda la petición asíncrona
            fetch('armar/vis/buscar/' + valor_busqueda, {
                method: 'GET',
                headers: {
                'Content-Type': 'application/json',
                }
            }).then((result) => {
                console.log(result);
                return result.json(); //Regresa otra promesa
            }).then((data) => {
                console.log(data);
                let html = '';

                html += `<div id="notificacion">`;

                    if(data.lista.length < 1) {
                        html += `
                        <div class="notification is-info">
                            <button class="delete"></button>
                            No existe la artista
                        </div>
                        `;
                    }

                html += `</div>`;  

                html += `
                    <div class="columns">
                `;

                let columns = 0;
                for (let artista of data.lista) {
                    columns++
                    html += `
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="/uploads/${artista.imagen}" alt="Imagen de ${artista.nombre}">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">${artista.nombre}</p>
                                    </div>
                                </div>
                        
                                <div class="content">
                                    ${artista.descripcion}
                                    <button class="button is-danger" onclick="eliminar(${artista.id})">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `;

                    if (columns % 4 == 0) {
                        html += `
                            </div>
                        <div class="columns">
                        `;
                    }
                }

                html += `</div>`;

                document.getElementById('respuestaAjax').innerHTML = html;
            }).catch((err) => {
                console.log(err);
            });
        };

        document.getElementById('buscar').onkeyup = accion_asincrona;

        const eliminar = (id) => {
            const csrf = document.getElementById('_csrf').value;
            console.log(csrf);

            //función que manda la petición asíncrona
            fetch('/armar/vis/delete/', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf
                },
                body: JSON.stringify({id: id})
            }).then(result => {
                return result.json(); //Regresa otra promesa
            }).then(data => {
                console.log(data);
                let html = '';

                html += `<div id="notificacion">`;

                    if(data.lista.length < 1) {
                        html += `
                            <div class="notification is-info">
                                <button class="delete"></button>
                                No existe la artista
                        </div>
                        `;
                    }

                html += `</div>`; 

                html += `
                    <div class="columns">
                `; 

                let columns = 0;
                for (let artista of data.lista) {
                    columns++
                    html += `
                        <div class="column">
                            <div class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="/uploads/${artista.imagen}" alt="Imagen de ${artista.nombre}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">${artista.nombre}</p>
                                        </div>
                                    </div>

                                    <div class="content">
                                        ${artista.descripcion}
                                        <button class="button is-danger" onclick="eliminar(${artista.id})">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;

                    if (columns % 4 == 0) {
                    html += `
                        </div>
                        <div class="columns">
                    `;
                    }
                }

                html += `</div>`;

                document.getElementById('respuestaAjax').innerHTML = html;
                document.getAnimations('notificacion').innerHTML = `
                <div class="notification is-info">
                    <button class="delete"></button>
                    La construcción fue eliminada
                </div>
                `;
            }).catch(err => {
            console.log(err);
            });

        }
    </script>
    <%- include('includes/foot.ejs') %>